.cardDetailContainer {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.cardDetail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: $borderRadius;
  background-color: $whiteColor;
  height: 350px;
  text-align: left;
  .cardText {
    padding-top: 15px;
    margin-left: 20px;
    p {
      font-size: 17px;
      font-family: $font-family;
      span {
        font-weight: 700;
      }
    }
  }
  img {
    border-bottom-left-radius: $borderRadius;
    border-top-left-radius: $borderRadius;
    height: 350px;
  }
}
@media screen and (max-width: 1200px) {
  .cardDetail {
    height: auto;
    img {
    display: none;
  }
  }
}
